{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'checkout/JS/checkout.js' %}"></script>
{% endblock %}

{% block title %}Checkout{% endblock %}


{% block content %}

<div class="container py-5">
    <h1 class="mb-4 text-db-primary">Checkout</h1>
    <p class="lead mb-5">Please review your order and enter your details to complete the purchase.</p>

    <div class="row">
        <div class="col-md-6">
            <h2 class="h4 mb-3">Your Order</h2>
            <ul class="list-group mb-3">
                {% for item in bag_items %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{ item.card.name }}</h6>
                        <small class="text-muted">Quantity: {{ item.quantity }}</small>
                    </div>

                    <span class="text-muted">£{{ item.get_subtotal }}</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (GBP)</span>
                    <strong>£{{ bag_total }}</strong>   

                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="h4 mb-3">Billing Details</h2>
            <form method="POST" action="{% url 'checkout' %}" id ="checkout-form">
                {% csrf_token %}
                <fieldset class="mb-3">
                    <legend class="rounded px-3 mb-3">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-3">
                    <legend class="rounded px-3 mb-3">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.city | as_crispy_field }}
                        {{ order_form.address_line1 | as_crispy_field }}
                        {{ order_form.address_line2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
            
                </fieldset>
                <fieldset class="mb-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <div id="card-element" class="mb-3">
                        <!-- Stripe.js will inject the Card Element here -->
                    </div>
                    <div id="card-errors" role="alert" class="text-danger mb-3">
                        <!-- Display card errors here -->
                    </div>
                <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'bag_view' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>£{{ bag_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/JS/checkout.js' %}"></script>
{% endblock %}