{% extends 'base.html' %}
{% load static %}

{% block title %}Cards - Dragon Ball Card Shop{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4 text-db-primary">Dragon Ball Cards</h1>
    
    <!-- Mobile-first card grid: 1 col mobile, 2 col tablet, 3 col desktop -->
    <div class="row g-3">
        <!-- Son Goku Cards -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Son Goku">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Son Goku</h5>
                    <p class="card-text">Son Goku - Rare Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Son Goku Ultra Rare">
                <div class="card-body">
                    <span class="badge bg-warning text-dark">Ultra Rare</span>
                    <h5 class="card-title mt-2">Son Goku Ultra</h5>
                    <p class="card-text">Son Goku - Ultra Rare Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Son Goku Ultra Rare 2">
                <div class="card-body">
                    <span class="badge bg-warning text-dark">Ultra Rare</span>
                    <h5 class="card-title mt-2">Son Goku Ultra 2</h5>
                    <p class="card-text">Son Goku - Ultra Rare Edition 2</p>
                </div>
            </div>
        </div>

        <!-- Vegeta Cards -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Vegeta Common">
                <div class="card-body">
                    <span class="badge bg-secondary">Common</span>
                    <h5 class="card-title mt-2">Vegeta</h5>
                    <p class="card-text">Vegeta - Common Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Vegeta Rare">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Vegeta Rare</h5>
                    <p class="card-text">Vegeta - Rare Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Vegeta Ultra Rare">
                <div class="card-body">
                    <span class="badge bg-warning text-dark">Ultra Rare</span>
                    <h5 class="card-title mt-2">Vegeta Ultra</h5>
                    <p class="card-text">Vegeta - Ultra Rare Edition</p>
                </div>
            </div>
        </div>

        <!-- Broly Cards -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Broly Common">
                <div class="card-body">
                    <span class="badge bg-secondary">Common</span>
                    <h5 class="card-title mt-2">Broly</h5>
                    <p class="card-text">Broly - Common Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Broly Rare">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Broly Rare</h5>
                    <p class="card-text">Broly - Rare Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Broly Rare 2">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Broly Rare 2</h5>
                    <p class="card-text">Broly - Rare Edition 2</p>
                </div>
            </div>
        </div>

        <!-- Vegeto Cards -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Vegeto Rare">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Vegeto</h5>
                    <p class="card-text">Vegeto - Rare Edition</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Vegeto Rare 2">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Vegeto 2</h5>
                    <p class="card-text">Vegeto - Rare Edition 2</p>
                </div>
            </div>
        </div>

        <!-- Trunks Card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Trunks Rare">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Trunks</h5>
                    <p class="card-text">Trunks - Rare Edition</p>
                </div>
            </div>
        </div>

        <!-- Freeza Card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Freeza Ultra Rare">
                <div class="card-body">
                    <span class="badge bg-warning text-dark">Ultra Rare</span>
                    <h5 class="card-title mt-2">Freeza</h5>
                    <p class="card-text">Freeza - Ultra Rare Edition</p>
                </div>
            </div>
        </div>

        <!-- Cell Card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Cell Rare">
                <div class="card-body">
                    <span class="badge bg-secondary">Rare</span>
                    <h5 class="card-title mt-2">Cell</h5>
                    <p class="card-text">Cell - Rare Edition</p>
                </div>
            </div>
        </div>

        <!-- Gogeta Card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="Gogeta Ultra Rare">
                <div class="card-body">
                    <span class="badge bg-warning text-dark">Ultra Rare</span>
                    <h5 class="card-title mt-2">Gogeta</h5>
                    <p class="card-text">Gogeta - Ultra Rare Edition</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}